In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('http://data.insideairbnb.com/germany/be/berlin/2021-02-20/data/listings.csv.gz')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19978 entries, 0 to 19977
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            19978 non-null  int64
 1   listing_url                                   19978 non-null  object
 2   scrape_id                                     19978 non-null  int64
 3   last_scraped                                  19978 non-null  object
 4   name                                          19946 non-null  object
 5   description                                   19413 non-null  object
 6   neighborhood_overview                         10752 non-null  object
 7   picture_url                                   19978 non-null  object
 8   host_id                                       19978 non-null  int64
 9   host_url                                      19978 non-null  object
 10  host_name                                     19958 non-null  object
 11  host_since                                    19958 non-null  object
 12  host_location                                 19910 non-null  object
 13  host_about                                    10017 non-null  object
 14  host_response_time                            8053 non-null   object
 15  host_response_rate                            8053 non-null   object
 16  host_acceptance_rate                          10773 non-null  object
 17  host_is_superhost                             19958 non-null  object
 18  host_thumbnail_url                            19958 non-null  object
 19  host_picture_url                              19958 non-null  object
 20  host_neighbourhood                            13992 non-null  object
 21  host_listings_count                           19958 non-null  float64
 22  host_total_listings_count                     19958 non-null  float64
 23  host_verifications                            19978 non-null  object
 24  host_has_profile_pic                          19958 non-null  object
 25  host_identity_verified                        19958 non-null  object
 26  neighbourhood                                 10753 non-null  object
 27  neighbourhood_cleansed                        19978 non-null  object
 28  neighbourhood_group_cleansed                  19978 non-null  object
 29  latitude                                      19978 non-null  float64
 30  longitude                                     19978 non-null  float64
 31  property_type                                 19978 non-null  object
 32  room_type                                     19978 non-null  object
 33  accommodates                                  19978 non-null  int64
 34  bathrooms                                     0 non-null      float64
 35  bathrooms_text                                19953 non-null  object
 36  bedrooms                                      18279 non-null  float64
 37  beds                                          19723 non-null  float64
 38  amenities                                     19978 non-null  object
 39  price                                         19978 non-null  object
 40  minimum_nights                                19978 non-null  int64
 41  maximum_nights                                19978 non-null  int64
 42  minimum_minimum_nights                        19971 non-null  float64
 43  maximum_minimum_nights                        19971 non-null  float64
 44  minimum_maximum_nights                        19971 non-null  float64
 45  maximum_maximum_nights                        19971 non-null  float64
 46  minimum_nights_avg_ntm                        19971 non-null  float64
 47  maximum_nights_avg_ntm                        19971 non-null  float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              19978 non-null  object
 50  availability_30                               19978 non-null  int64
 51  availability_60                               19978 non-null  int64
 52  availability_90                               19978 non-null  int64
 53  availability_365                              19978 non-null  int64
 54  calendar_last_scraped                         19978 non-null  object
 55  number_of_reviews                             19978 non-null  int64
 56  number_of_reviews_ltm                         19978 non-null  int64
 57  number_of_reviews_l30d                        19978 non-null  int64
 58  first_review                                  15868 non-null  object
 59  last_review                                   15868 non-null  object
 60  review_scores_rating                          15475 non-null  float64
 61  review_scores_accuracy                        15456 non-null  float64
 62  review_scores_cleanliness                     15457 non-null  float64
 63  review_scores_checkin                         15444 non-null  float64
 64  review_scores_communication                   15455 non-null  float64
 65  review_scores_location                        15446 non-null  float64
 66  review_scores_value                           15443 non-null  float64
 67  license                                       2322 non-null   object
 68  instant_bookable                              19978 non-null  object
 69  calculated_host_listings_count                19978 non-null  int64
 70  calculated_host_listings_count_entire_homes   19978 non-null  int64
 71  calculated_host_listings_count_private_rooms  19978 non-null  int64
 72  calculated_host_listings_count_shared_rooms   19978 non-null  int64
 73  reviews_per_month                             15868 non-null  float64
dtypes: float64(22), int64(17), object(35)
memory usage: 11.3+ MB

In [7]:
df.neighbourhood_cleansed.value_counts()

Frankfurter Allee Süd FK     1117
Alexanderplatz               1091
Tempelhofer Vorstadt         1024
Reuterstraße                  829
Brunnenstr. Süd               732
                             ...
Forst Grunewald                 3
Allende-Viertel                 3
Neu-Hohenschönhausen Süd        3
Marzahn-Nord                    1
Neu-Hohenschönhausen Nord       1
Name: neighbourhood_cleansed, Length: 138, dtype: int64

In [8]:
df.price

0         $52.00
1         $90.00
2         $29.00
3         $79.00
4         $33.00
          ...
19973     $24.00
19974     $20.00
19975    $164.00
19976     $64.00
19977     $35.00
Name: price, Length: 19978, dtype: object